{{ $data := index site.Data site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="hero-area {{ $var }}" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img class="lozad d-none" data-src="{{ .bg_image_webp | absURL }}" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'"/>

	<div class="block">
		{{ if .icon }}
		<div class="video-button">
			<i class="{{ .icon }}"></i>
		</div>
		{{ end }}
		<style>
			.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
				opacity: 1;
			}
		</style>
		<!--[if lt IE 9]> 
			<style>
				.rw-wrapper{ display: none; } 
				.rw-sentence-IE{ display: block;  }
			</style>
		<![endif]-->
		<div class="rw-wrapper">
			<h1 class="rw-sentence">
				<span class="first"><b>Befriend</span>
					<br class="display-mobile"/>
			    <div class="rw-words rw-words-1">
				   <span><b>change.</b></span>
				   <span><b>life.</b></span>
				   <span><b>the ego.</b></span>			
			   </div>
			   <br/>
			
			   Design your version <br/> of a <b style="color:#FF9F1C;">fulfilling</b> life!</b>
			</h1>
		</div>
		<h1 class="rw-sentence-IE">
			<span class="mb">Go beyond the screen.</span><br/>
			<span>Become the <b style="color:#FF9F1C;">HERO</b> of your life!</span>
		</h1>

<!-- 		<h1>{{ .title | markdownify }}</h1> -->
		<p>{{ .content | markdownify }}</p>
		{{ if .button.enable }}
		{{ with .button }}
		<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
		{{ end }}
		{{ end }}
	</div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
