{{ $data := index site.Data site.Language.Lang }}

{{ if $data.feature.feature.enable }}
{{ with $data.feature.feature }}
{{"<!-- feature -->" | safeHTML}}
{{ $var := "" }}
{{ if .hide_on_mobile }}
    {{ $var = "hideonmobile" }}
{{ end }}
<section class="section section-bg about-2 padding-0 {{ $var }}" id="feature">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 padding-0 vlad-image" style="background-image: url('{{ .image_webp | absURL }}'); background-size: cover; background-position: top center; background-repeat: no-repeat; min-height: 460px;">
			<!-- this image is for trigger this section fallback background image -->
			<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .image | absURL }})'" src="{{ .image_webp | absURL }}" />
			</div>
			<div class="col-lg-6">
				<div class="content-block">
					<!-- <h2>{{ .title | markdownify }}</h2>-->
					<h2>I help you <u>rebuild</u> after a breakdown,
					<br>learn from everyday <b style="color:#FF9F1C">pain</b>,
					<br>and become your own <b style="color:#21a008">best friend</b>.</h2>
 					     
					     </br><p> Welcome! I am Vlad, a trained coach and human with a big <span aria-hidden="true" class="fa fa-heart fa-anim-vertical-shake" style="color:#FF0064"></span>
					     
					     </br></br><b>My background:</b>	
					     </br>After exploring societal ideas of success and happiness during my 20s I ended up living in Austria
					     and working as a Business Analyst. And I felt happy...for a while. Then I begun chasing more and more efficiency in life, in my self-development,
					     and in my job. Gradually, the constant struggle to control the environment 
					     to get what I thought I need for a fulfilling life started to take its toll on me. Fortunately, the discovery and practice of mindfulness helped me change my point of view, 
					     and slowly, my values transformed. When 2020 arrived I decided to put the newfound values into action, which led me to train as a coach.
					     It was one of my best decisions (next to learning how to dance and ride a bicycle). 
				
					     </br></br><b>My coaching:</b>
					     </br>I see life as an exciting journey towards mastery, with change being a key part of it. Yet <u>change has not always been easy for me</u>.
					     It required my awareness, time, commitment, compassion, and ability to let go. And that's on a good day! In extreme cases, the need to change can arrive as a shock, 
					     in the form of life altering events such as separation, loss of employment, poor health, etc. Since forced change can be very disruptive,
		                             I developed my personality and life around the ability to create smooth transitions. Coupled with coaching skills, this experience has become a tool for helping others transform
					     costly disruptions into <b>smooth transitions</b>. 
					     <!-- </br>Speaking of smooth sailing, how is your connection to your hopes, dreams, and aspirations?
					     </br></br>My journey so far has helped refine an aptitude for communication, patterns, and people through various 
						corporate positions. With the discovery of coaching in 2020, I began to fulfill my deep seated need for meaningful connection.				
						Today I am very grateful to be happily employed as a digital tranformation specialist while also supporting others to the 
						best of my coaching abilities. -->							
					</p>
					  
					<div class="row">
						{{ range .feature_item }}
						<div class="col-lg-6">
							<div class="media">
								{{with .icon}}
								<div class="align-self-start mr-3">
									<i class="{{ . }}"></i>
								</div>
								{{ end }}
								<div class="media-body">
									<h4 class="media-heading">{{ .title | markdownify }}</h4>
									<p>{{ .content | markdownify }}</p>
								</div>
							</div>
						</div>
						{{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /feature -->" | safeHTML}}
{{ end }}
{{ end }}
