<div class="cta">
    <a class="cta-btn"><i class="ti-plus"></i></a>
    <div class="popup text-left">
      <div class="popup-header d-flex justify-space-between">
        <h5 class="">A meaningful <span class="green">birthday</span> and <span class="green">holiday present</span>!</h5>
        <a class="cta-close ml-auto d-flex align-items-start"><i class="ti-close"></i></a>
      </div>
      <p>Help a loved one find fulfillment.</p>
      <a class="btn-main text-white cursor-pointer" href="mailto:coach@misterclarity.com"><i class="ti-send"></i>Book now</a>
    </div>
  </div>
